{
  "extends": ["next", "next/core-web-vitals", "prettier", "next/babel"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}

// module.exports = {
//   env: {
//     // browser: true,
//     // es6: true,
//     // node: true,
//   },
//   parserOptions: {
//     parser: '@babel/eslint-parser',
//     requireConfigFile: 'false',
//     ecmaFeatures: {
//       jsx: true,
//     },
//     ecmaVersion: 2018,
//     sourceType: 'module',
//   },
//   babelOptions: {},
//   extends: [
//     'eslint:recommended',
//     'plugin:@next/next/recommended',
//     'plugin:prettier/recommended',
//   ],
//   plugins: ['react', 'react-hooks', 'prettier'],
//   rules: {
//     'react/react-in-jsx-scope': 0,
//     'react/prefer-stateless-function': 0,
//     'react/jsx-filename-extension': 0,
//     'react/jsx-one-expression-per-line': 0,
//     'no-nested-ternary': 0,
//     'prettier/prettier': [
//       'error',
//       {
//         endOfLine: 'auto',
//       },
//     ],
//     'no-unused-vars': 'off',
//   },
//   globals: {
//     React: 'writable',
//   },
// };

// // module.exports = {
// //   env: {
// //     browser: true,
// //     es6: true,
// //     node: true,
// //   },
// //   parser: 'babel-eslint',
// //   parserOptions: {
// //     // parser: '@babel/eslint-parser',
// //     requireConfigFile: 'false',
// //     ecmaFeatures: {
// //       jsx: true,
// //       modules: true,
// //       experimentalObjectRestSpread: true,
// //     },
// //     ecmaVersion: 8,
// //     sourceType: 'module',
// //     babelOptions: {
// //       presets: ['@babel/preset-react'],
// //     },
// //   },
// //   extends: [],
// //   // babelOptions: { "configFile": "./.babelrc", },
// //   extends: [
// //     // 'eslint:recommended',
// //     // 'plugin:@next/next/recommended',
// //     // 'plugin:prettier/recommended',
// //   ],
// //   plugins: ['react', 'react-hooks', 'prettier'],
// //   rules: {
// //     'react/react-in-jsx-scope': 0,
// //     'react/prefer-stateless-function': 0,
// //     'react/jsx-filename-extension': 0,
// //     'react/jsx-one-expression-per-line': 0,
// //     'no-nested-ternary': 0,
// //     'no-console': 0,
// //     'no-alert': 0,
// //     'prettier/prettier': [
// //       'error',
// //       {
// //         endOfLine: 'auto',
// //       },
// //     ],
// //     'no-unused-vars': 'off',
// //     'react/jsx-props-no-spreading': 'off',
// //     'no-restricted-globals': 'off',
// //   },
// //   globals: {
// //     React: 'writable',
// //   },
// // };
