.main {
    text-align: center;
    margin: 0 auto;
}

.menus {
    /*display: flex;
    justify-content: left;*/
    margin: 10px 0px;
    font-weight: bold;
}

.link:first-child {
    padding: 0px 30px 0px 0px;
}

.link {
    padding: 0px 30px;
    border-right: 1px solid #909090;
}

.link:last-child {
    padding: 0px 0px 0px 30px;
    border: none;
}
